.container {
  padding: 100px 40px 0;
}

.input {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  margin: 20px 0 40px;
  gap: 20px;
}

.pagination {
  justify-content: center;
  margin-bottom: 30px;
}

.jc-center {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.chip label {
  width: 100%;
  padding: 0;
  text-align: center;
  justify-content: center;

  span {
    font-size: 16px;
  }
}

@media (width < 770px) {
  .container {
    padding: 100px 20px 0;
  }

  .filter-header {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  .search-results {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .grid {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .chip label span {
    font-size: 14px;
  }
}
