.container {
  padding: 120px 40px 0;
}

.input {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  margin: 20px 0 40px;
  gap: 20px;
}
