.hero {
  /* height: 440px; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  column-gap: 4rem;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 20px 0 20px 32px;
  height: 100%;
  width: 100%;
}

.title {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
  margin: 20px 0;
}

.overview {
  font-weight: 700;
  max-width: 600px;
  white-space: normal;
  margin-bottom: 1rem;
}

.genre {
  margin-bottom: 20px;
}

.action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  margin-top: 20px;
}

.control {
  color: white;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.poster {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.indicator {
  transition: width 250ms ease;

  &[data-active] {
    width: 60px;
  }
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}