.comment {
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  position: relative;
  background: #3535357b;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-header .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.count {
  background-color: gray;
  border-radius: 5px;
  padding: 4px 9px;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.collapse.hidden {
  visibility: hidden;
  pointer-events: none;
}

.collapse.visible {
  visibility: visible;
  pointer-events: auto;
}

@media (width < 770px) {
  .avatar {
    width: 50px;
    height: 50px;
  }
}

@media (width < 400px) {
  .comment-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }
}
