.card {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.card-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    width: 100%;
}