.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.card-poster {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.info {
  width: 100%;
  position: relative;
  bottom: 15px;
}

.ring-progress {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.info .info-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.card-backdrop {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.br-10 {
  border-radius: 10px;
}

.hover-content {
  z-index: 2;
  position: relative;
  padding: 10px 25px;

}

.hover-content .info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratings {
  color: white;
  background-color: #ffffff1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 3px 8px;
  border-radius: 6px;
  height: min-content;
}

.star {
  color: gold;
}

.hover-content .button-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 15px 0;
}