.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.card-poster {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.info {
    width: 100%;
    position: relative;
    bottom: 15px;
}

.ring-progress {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.card-backdrop {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hover-content {
    z-index: 2;
    position: relative;
}